{% extends 'base.html.twig' %}

{% block title %}Hello MailController!{% endblock %}

{% block body %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ form_start(form) }}

    {{ form_row(form.email, { 'attr': { 'placeholder' : "Adresse mail"}}) }}
    {{ form_row(form.submit, { 'label' : "Envoyer"}) }}

    {{ form_end(form) }}

{% endblock %}
